body {
    margin: 0;
    padding: 0;
    background-image: url("https://lh3.googleusercontent.com/EJ8SoRJIUwdd9o-yWsuUS0mDkvAlwINMNgdkrYvsZNqOVbD8BAkINlItN23BOO-f-RFbZQ778oThX8y2nee0w8DZETrPtWey1cl2lbM_OqUEMk4pHL-PxCsLlYL7AbOiO2sHiJU2mQ=w904-h678-no");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1300px 975px;
}

#navbar {
    text-align: center;
    background-color: #2d2d30;
    letter-spacing: 4px;
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 11px !important;
}

#navbar ul {
    list-style-type: none;
    padding-left: 0;
}

#navbar ul li {
    display: inline;
    margin-right: 25px;
}

#navbar ul li a {
    text-decoration: none;
    color: #d5d5d5 !important;
    padding: 5px 10px;
}

#navbar ul li a:hover {
    color: #fff !important;
}

#team-map img {
    width: 100%;
    height: 100%;
}

.team-map-background img {
    width: 100%;
    height: 142%;
    position: absolute;
    z-index: 1;
}

#hoang-background img {
    width: 1500px;
    height: 1500px;
}

#kiet-background img {
    width: 1500px;
    height: 2250px;
}

#lam-background img {
    width: 1500px;
    height: 2000px;
}

#logo {
    font-family: Alex Brush, sans-serif;
    font-size: 22px !important;
}

#box-background {
    background: #49494d;  
    padding: 65% 40%;
    position: relative;
}

.box-member {
    width: 1000px;
    height: 450px;
    background: white;
    padding: 10%;
    margin: auto;
    margin-left: 10%;   
    z-index: 2;
    position: absolute;
}

#box-hoang {
    margin-top: 10%;
}

#box-kiet {
    margin-top: 50%;  
}

#box-lam {
    margin-top: 90%;
}

#hoang-map img {
    width: 300px;
    height: 300px;
    margin-top: -5%;
    margin-left: -5%;
}

article {
    margin-left: 300px;
    margin-top: -320px;
    font-family: Lato, sans-serif;
}

.separate-line {
    margin-left: 0;
    width: 500px;
    height: 1px;  
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.personal-information {
    margin-right: 350px;
    float: right;
    color: #8f8f9b;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
